<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
        <img src="./images/train.png" alt="train" width="30" height="24" class="d-inline-block align-text-top">
        Ticketac
        </a>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" class="link-danger">Connexion</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#" class="link-danger"></a>My last trips</li>
          </ol>
    </div>
</nav>

