      

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/images/train.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Tickettac
            <a class="flex-row-reverse"> Connected </a>
            <a class="flex-row-reverse"> My last trips </a>
          </a>
        </div>
      </nav>
    